<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="404 - Page">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>404</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/404.css" rel="stylesheet">
</head>
<body>

<!-- Load page -->
<div class="animationload" style="display: none;">
    <div class="loader" style="display: none;">
    </div>
</div>
<!-- End load page -->

<!-- Content Wrapper -->
<div id="wrapper">
    <div class="container">
        <!-- Switcher -->
        <div class="switcher">
            <input id="sw" type="checkbox" class="switcher-value">
            <label for="sw" class="sw_btn"></label>

            <div class="bg"></div>
            <div class="text">敢不敢<span class="text-l">关灯</span><span class="text-d">开灯</span><br>试试</div>
        </div>
        <!-- End Switcher -->

        <!-- Dark version -->
        <div id="dark" class="row text-center">
            <div class="info">
                <img src="/images/404-dark.png" alt="404 error">
            </div>
        </div>
        <!-- End Dark version -->

        <!-- Light version -->
        <div id="light" class="row text-center">
            <!-- Info -->
            <div class="info">
                <img src="/images/404-light.gif" alt="404 error">
                <!-- end Rabbit -->
                <p>亲！你懂的.</p>
                <a href="/" class="btn">返回首页</a>
                <a href="#" class="btn btn-brown">联系我们</a>
            </div>
            <!-- end Info -->
        </div>
        <!-- End Light version -->

    </div>
    <!-- end container -->
</div>
<!-- end Content Wrapper -->


<script src="/javascripts/jquery-1.11.3.min.js"></script>
<script src="/javascripts/404.js"></script>
</body>
</html>